# ETL CROP YIELD

In [1]:
import numpy as np
import pandas as pd

## Carga de archivos

In [2]:
archivo_pesticidas=pd.read_csv('pesticides.csv')
archivo_lluvias=pd.read_csv('rainfall.csv')
archivo_temperatura=pd.read_csv('temp.csv')
archivo_rendimiento=pd.read_csv('yield.csv')
df_rendimiento=pd.read_csv('yield_df.csv',index_col=0)

In [3]:
archivo_pesticidas.head()

,Domain,Area,Element,Item,Year,Unit,Value
0,Pesticides Use,Albania,Use,Pesticides (total),1990,tonnes of active ingredients,121.0
1,Pesticides Use,Albania,Use,Pesticides (total),1991,tonnes of active ingredients,121.0
2,Pesticides Use,Albania,Use,Pesticides (total),1992,tonnes of active ingredients,121.0
3,Pesticides Use,Albania,Use,Pesticides (total),1993,tonnes of active ingredients,121.0
4,Pesticides Use,Albania,Use,Pesticides (total),1994,tonnes of active ingredients,201.0

In [4]:
archivo_lluvias.head()

          Area  Year average_rain_fall_mm_per_year
0  Afghanistan  1985                           327
1  Afghanistan  1986                           327
2  Afghanistan  1987                           327
3  Afghanistan  1989                           327
4  Afghanistan  1990                           327

In [5]:
archivo_temperatura.head()

   year        country  avg_temp
0  1849  Côte D'Ivoire     25.58
1  1850  Côte D'Ivoire     25.52
2  1851  Côte D'Ivoire     25.67
3  1852  Côte D'Ivoire       NaN
4  1853  Côte D'Ivoire       NaN

In [35]:
archivo_rendimiento.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1961,1961,hg/ha,14000
1,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1962,1962,hg/ha,14000
2,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1963,1963,hg/ha,14260
3,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1964,1964,hg/ha,14257
4,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1965,1965,hg/ha,14400

In [7]:
df_rendimiento.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

## Observación de los datos en cada tabla

In [8]:
lista_archivos = [archivo_pesticidas, archivo_lluvias, archivo_rendimiento, archivo_temperatura, df_rendimiento]
for archivo in lista_archivos: 
    print(archivo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4349 entries, 0 to 4348
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Domain   4349 non-null   object
 1   Area     4349 non-null   object
 2   Element  4349 non-null   object
 3   Item     4349 non-null   object
 4   Year     4349 non-null   int64
 5   Unit     4349 non-null   object
 6   Value    4349 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 238.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6727 entries, 0 to 6726
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0    Area                          6727 non-null   object
 1   Year                           6727 non-null   int64
 2   average_rain_fall_mm_per_year  5953 non-null   object
dtypes: int64(1), object(2)
memory usage: 157.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56717 entries, 0 to 56716
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Domain Code   56717 non-null  object
 1   Domain        56717 non-null  object
 2   Area Code     56717 non-null  int64
 3   Area          56717 non-null  object
 4   Element Code  56717 non-null  int64
 5   Element       56717 non-null  object
 6   Item Code     56717 non-null  int64
 7   Item          56717 non-null  object
 8   Year Code     56717 non-null  int64
 9   Year          56717 non-null  int64
 10  Unit          56717 non-null  object
 11  Value         56717 non-null  int64
dtypes: int64(6), object(6)
memory usage: 5.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71311 entries, 0 to 71310
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      71311 non-null  int64
 1   country   71311 non-null  object
 2   avg_temp  68764 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 28242 entries, 0 to 28241
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Area                           28242 non-null  object
 1   Item                           28242 non-null  object
 2   Year                           28242 non-null  int64
 3   hg/ha_yield                    28242 non-null  int64
 4   average_rain_fall_mm_per_year  28242 non-null  float64
 5   pesticides_tonnes              28242 non-null  float64
 6   avg_temp                       28242 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.7+ MB
None

## Medias por tabla para conocer la distribución de los datos

In [9]:
archivo_lluvias.describe()

              Year
count  6727.000000
mean   2001.354839
std       9.530114
min    1985.000000
25%    1993.000000
50%    2001.000000
75%    2010.000000
max    2017.000000

In [10]:
archivo_pesticidas.describe()

              Year         Value
count  4349.000000  4.349000e+03
mean   2003.138883  2.030334e+04
std       7.728044  1.177362e+05
min    1990.000000  0.000000e+00
25%    1996.000000  9.300000e+01
50%    2003.000000  1.137560e+03
75%    2010.000000  7.869000e+03
max    2016.000000  1.807000e+06

In [11]:
archivo_rendimiento.describe()

,Area Code,Element Code,Item Code,Year Code,Year,Value
count,56717.000000,56717.0,56717.000000,56717.000000,56717.000000,56717.000000
mean,125.650422,5419.0,111.611651,1989.669570,1989.669570,62094.660084
std,75.120195,0.0,101.278435,16.133198,16.133198,67835.932856
min,1.000000,5419.0,15.000000,1961.000000,1961.000000,0.000000
25%,58.000000,5419.0,56.000000,1976.000000,1976.000000,15680.000000
50%,122.000000,5419.0,116.000000,1991.000000,1991.000000,36744.000000
75%,184.000000,5419.0,125.000000,2004.000000,2004.000000,86213.000000
max,351.000000,5419.0,489.000000,2016.000000,2016.000000,1000000.000000

In [12]:
archivo_temperatura.describe()

               year      avg_temp
count  71311.000000  68764.000000
mean    1905.799007     16.183876
std       67.102099      7.592960
min     1743.000000    -14.350000
25%     1858.000000      9.750000
50%     1910.000000     16.140000
75%     1962.000000     23.762500
max     2013.000000     30.730000

In [13]:
df_rendimiento.describe()

,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
count,28242.000000,28242.000000,28242.00000,28242.000000,28242.000000
mean,2001.544296,77053.332094,1149.05598,37076.909344,20.542627
std,7.051905,84956.612897,709.81215,59958.784665,6.312051
min,1990.000000,50.000000,51.00000,0.040000,1.300000
25%,1995.000000,19919.250000,593.00000,1702.000000,16.702500
50%,2001.000000,38295.000000,1083.00000,17529.440000,21.510000
75%,2008.000000,104676.750000,1668.00000,48687.880000,26.000000
max,2013.000000,501412.000000,3240.00000,367778.000000,30.650000

## Conteo de nulos por archivo

In [14]:
# Verificación de nulos
lista_archivos = [archivo_pesticidas, archivo_lluvias, archivo_rendimiento, archivo_temperatura, df_rendimiento]

# Inicializar contador de nulos totales
total_nulos = 0

for i, archivo in enumerate(lista_archivos, start=1):
    try:
        # Sumar los nulos en el archivo actual
        nulos_archivo = archivo.isnull().sum().sum()
        print(f"Archivo {i} - Total de valores nulos: {nulos_archivo}")
        
        # Acumular en el contador total
        total_nulos += nulos_archivo
    except Exception as e:
        print(f"Error en el archivo {i}: {e}")

print(f"Total de valores nulos en todos los archivos: {total_nulos}")

Archivo 1 - Total de valores nulos: 0
Archivo 2 - Total de valores nulos: 774
Archivo 3 - Total de valores nulos: 0
Archivo 4 - Total de valores nulos: 2547
Archivo 5 - Total de valores nulos: 0
Total de valores nulos en todos los archivos: 3321

## Reemplazo de valores nulos

In [15]:
# Convertir la columna a numérica, reemplazando valores no convertibles por NaN
archivo_lluvias['average_rain_fall_mm_per_year'] = pd.to_numeric(archivo_lluvias['average_rain_fall_mm_per_year'], errors='coerce')

# Reemplazar valores nulos en 'average_rain_fall_mm_per_year' con la media por país
archivo_lluvias['average_rain_fall_mm_per_year'] = archivo_lluvias.groupby(' Area')['average_rain_fall_mm_per_year'].transform(lambda x: x.fillna(x.mean()))

In [16]:
registros_nulos = archivo_lluvias[archivo_lluvias.isnull().any(axis=1)]

# Mostrar los registros
print(registros_nulos)

                       Area  Year  average_rain_fall_mm_per_year
93           American Samoa  1985                            NaN
94           American Samoa  1986                            NaN
95           American Samoa  1987                            NaN
96           American Samoa  1989                            NaN
97           American Samoa  1990                            NaN
...                     ...   ...                            ...
6598  Virgin Islands (U.S.)  2013                            NaN
6599  Virgin Islands (U.S.)  2014                            NaN
6600  Virgin Islands (U.S.)  2015                            NaN
6601  Virgin Islands (U.S.)  2016                            NaN
6602  Virgin Islands (U.S.)  2017                            NaN

[775 rows x 3 columns]

In [17]:
archivo_lluvias.replace("NaN","Sin dato")

             Area  Year  average_rain_fall_mm_per_year
0     Afghanistan  1985                          327.0
1     Afghanistan  1986                          327.0
2     Afghanistan  1987                          327.0
3     Afghanistan  1989                          327.0
4     Afghanistan  1990                          327.0
...           ...   ...                            ...
6722     Zimbabwe  2013                          657.0
6723     Zimbabwe  2014                          657.0
6724     Zimbabwe  2015                          657.0
6725     Zimbabwe  2016                          657.0
6726     Zimbabwe  2017                          657.0

[6727 rows x 3 columns]

In [18]:
# Convertir la columna a numérica, reemplazando valores no convertibles por NaN
archivo_temperatura['avg_temp'] = pd.to_numeric(archivo_temperatura['avg_temp'], errors='coerce')

# Reemplazar valores nulos en 'average_rain_fall_mm_per_year' con la media por país
archivo_temperatura['avg_temp'] = archivo_temperatura.groupby('country')['avg_temp'].transform(lambda x: x.fillna(x.mean()))

In [19]:
# Verificación de nulos
lista_archivos = [archivo_pesticidas, archivo_lluvias, archivo_rendimiento, archivo_temperatura, df_rendimiento]

# Inicializar contador de nulos totales
total_nulos = 0

for i, archivo in enumerate(lista_archivos, start=1):
    try:
        # Sumar los nulos en el archivo actual
        nulos_archivo = archivo.isnull().sum().sum()
        print(f"Archivo {i} - Total de valores nulos: {nulos_archivo}")
        
        # Acumular en el contador total
        total_nulos += nulos_archivo
    except Exception as e:
        print(f"Error en el archivo {i}: {e}")

print(f"Total de valores nulos en todos los archivos: {total_nulos}")

Archivo 1 - Total de valores nulos: 0
Archivo 2 - Total de valores nulos: 775
Archivo 3 - Total de valores nulos: 0
Archivo 4 - Total de valores nulos: 0
Archivo 5 - Total de valores nulos: 0
Total de valores nulos en todos los archivos: 775

In [20]:
anios_pesticidas=archivo_pesticidas['Year'].unique()
anios_pesticidas

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016])

Hay disponibles datos desde 1990 hasta el 2016

## Conteo de paises en estudio

In [21]:
paises_pesticidas=archivo_pesticidas['Area'].unique()
paises_pesticidas

array(['Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belgium-Luxembourg', 'Belize', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cameroon', 'Canada', 'Central African Republic',
       'Chad', 'Chile', 'China, Hong Kong SAR', 'China, Macao SAR',
       'China, mainland', 'China, Taiwan Province of', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gambia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Norway', 'Occupied Palestinian Territory',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Samoa', 'Saudi Arabia',
       'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Slovakia',
       'Slovenia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'USSR', 'Vanuatu', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen', 'Yugoslav SFR', 'Zambia', 'Zimbabwe'],
      dtype=object)

Para nuestro analisis vamos a centrarnos en Argentina,BraziL,Chile,Mexico y Peru

In [22]:
paises_a_analizar=["Argentina","Brazil","Chile","Mexico","Peru"]
paises_en_estudio=archivo_pesticidas[archivo_pesticidas['Area'].isin(paises_a_analizar)]

Que cultivos se realizan en los paises seleccionados

In [23]:
for pais in paises_a_analizar:
    try:
        cultivos_realizados=df_rendimiento[df_rendimiento['Area']==pais]['Item'].unique()
        print(f"Los cultivos realizados en {pais} son {cultivos_realizados}")
    except Exception as e: 
        print(f"Se presenta un error al analizar {pais}: {e}")

Los cultivos realizados en Argentina son ['Cassava' 'Maize' 'Potatoes' 'Rice, paddy' 'Sorghum' 'Soybeans'
 'Sweet potatoes' 'Wheat']
Los cultivos realizados en Brazil son ['Cassava' 'Maize' 'Potatoes' 'Rice, paddy' 'Sorghum' 'Soybeans'
 'Sweet potatoes' 'Wheat' 'Yams']
Los cultivos realizados en Chile son ['Maize' 'Potatoes' 'Rice, paddy' 'Sweet potatoes' 'Wheat']
Los cultivos realizados en Mexico son ['Cassava' 'Maize' 'Potatoes' 'Rice, paddy' 'Sorghum' 'Soybeans'
 'Sweet potatoes' 'Wheat']
Los cultivos realizados en Peru son ['Cassava' 'Maize' 'Plantains and others' 'Potatoes' 'Rice, paddy'
 'Sorghum' 'Soybeans' 'Sweet potatoes' 'Wheat']

Cuales son los rendimientos maximos en estos paises:

In [24]:
for pais in paises_a_analizar:
    try:
        rendimiento_max=archivo_rendimiento[archivo_rendimiento['Area']==pais]['Value'].max()
        print(f"Rendimiento máximo en {pais}: {rendimiento_max}")
    except Exception as e:
        print(f"Error procesando el país {pais}: {e}")

Rendimiento máximo en Argentina: 293744
Rendimiento máximo en Brazil: 296622
Rendimiento máximo en Chile: 312460
Rendimiento máximo en Mexico: 279260
Rendimiento máximo en Peru: 196254

Como Chile es el pais con mayores rendimientos, analizar si esto es debido a un alto nivel de precipitaciones

In [25]:
for pais in paises_a_analizar:
    try:
        nivel_lluvias=archivo_lluvias[archivo_lluvias[' Area']==pais]['average_rain_fall_mm_per_year'].mean()
        print(f"El promedio de precipitaciones en {pais} es: {nivel_lluvias}")
    except Exception as e:
        print(f"Error procesando {pais}: {e}")

El promedio de precipitaciones en Argentina es: 590.0645161290323
El promedio de precipitaciones en Brazil es: 1761.0
El promedio de precipitaciones en Chile es: 1522.0
El promedio de precipitaciones en Mexico es: 758.0
El promedio de precipitaciones en Peru es: 1738.0

Analisis de la temperatura en los paises seleccionados

In [26]:
archivo_temperatura=archivo_temperatura.rename(columns={'country': 'Area'})
archivo_temperatura.head()

   year           Area   avg_temp
0  1849  Côte D'Ivoire  25.580000
1  1850  Côte D'Ivoire  25.520000
2  1851  Côte D'Ivoire  25.670000
3  1852  Côte D'Ivoire  25.855227
4  1853  Côte D'Ivoire  25.855227

In [27]:
for pais in paises_a_analizar:
    try:
        temperatura_paises=archivo_temperatura[archivo_temperatura['Area']==pais]['avg_temp'].mean()
        print(f"La temperatura promedio de {pais} es {temperatura_paises:.2f}")
    except Exception as e: 
        print("Se presenta un error al analizar el {pais}: {e}")

La temperatura promedio de Argentina es 17.06
La temperatura promedio de Brazil es 21.76
La temperatura promedio de Chile es 9.14
La temperatura promedio de Mexico es 19.80
La temperatura promedio de Peru es 16.76

Uso de pesticidas en esos paises

In [28]:
for pais in paises_a_analizar:
    try:
        cant_pesticidas_usado=archivo_pesticidas[archivo_pesticidas['Area']==pais]['Value'].mean()
        print(f"El promedio en toneladas de uso de pesticidas en {pais} anualmente es {cant_pesticidas_usado:.4f}")
    except Exception as e:
        print(f"Se presenta un error al analizar {pais}: {e}")

El promedio en toneladas de uso de pesticidas en Argentina anualmente es 83335.7233
El promedio en toneladas de uso de pesticidas en Brazil anualmente es 210057.4815
El promedio en toneladas de uso de pesticidas en Chile anualmente es 12293.9556
El promedio en toneladas de uso de pesticidas en Mexico anualmente es 43998.3741
El promedio en toneladas de uso de pesticidas en Peru anualmente es 9901.2115

In [29]:
lista_archivos = [archivo_pesticidas, archivo_lluvias, archivo_rendimiento,df_rendimiento]
paises_a_analizar=["Argentina","Brazil","Chile","Mexico","Peru"]
nombres_de_archivos=['Pesticidas.csv','Lluvias.csv','Rendimiento.csv','Df_rendimiento.csv']

# Filtrado y guardado de archivos limpios
for archivo, nombre in zip(lista_archivos, nombres_de_archivos):
    archivo.columns = archivo.columns.str.strip()
    # Filtra solo los países seleccionados
    archivo_filtrado = archivo[archivo['Area'].isin(paises_a_analizar)]
    
    
    # Guarda el archivo filtrado en CSV
    archivo_filtrado.to_csv(nombre, index=False)
    print(f"Archivo guardado: {nombre}")

Archivo guardado: Pesticidas.csv
Archivo guardado: Lluvias.csv
Archivo guardado: Rendimiento.csv
Archivo guardado: Df_rendimiento.csv

In [30]:
archivo_temperatura.to_csv('Temperatura.csv')

In [44]:
#Lectura de archivos
archivo_lluvias=pd.read_csv('Lluvias.csv',index_col=False)
archivo_pesticidas=pd.read_csv('Pesticidas.csv',index_col=False)
archivo_rendimiento=pd.read_csv('Rendimiento.csv',index_col=False)
archivo_temperatura=pd.read_csv('Temperatura.csv',index_col=False)
df_rendimiento=pd.read_csv('Df_rendimiento.csv',index_col=False)

In [53]:
archivo_temperatura.head()

   year           Area   avg_temp
0  1849  Côte D'Ivoire  25.580000
1  1850  Côte D'Ivoire  25.520000
2  1851  Côte D'Ivoire  25.670000
3  1852  Côte D'Ivoire  25.855227
4  1853  Côte D'Ivoire  25.855227

In [54]:
archivo_rendimiento['id_rendimiento']=archivo_rendimiento['Area'].str[:3].str.upper()+'-'+archivo_rendimiento['Year'].astype(str)
archivo_lluvias['id_lluvias']=archivo_lluvias['Area'].str[:3].str.upper()+'-'+archivo_lluvias['Year'].astype(str)
archivo_pesticidas['id_pesticidas']=archivo_pesticidas['Area'].str[:3].str.upper()+'-'+archivo_pesticidas['Year'].astype(str)
archivo_temperatura['id_temperatura']=archivo_temperatura['Area'].str[:3].str.upper()+'-'+archivo_temperatura['year'].astype(str)
df_rendimiento['id']=df_rendimiento['Area'].str[:3].str.upper()+'-'+df_rendimiento['Year'].astype(str)

In [56]:
lista_archivos = [archivo_pesticidas, archivo_lluvias, archivo_rendimiento,df_rendimiento]
paises_a_analizar=["Argentina","Brazil","Chile","Mexico","Peru"]
nombres_de_archivos=['Pesticidas.csv','Lluvias.csv','Rendimiento.csv','Df_rendimiento.csv']

# Filtrado y guardado de archivos limpios
for archivo, nombre in zip(lista_archivos, nombres_de_archivos):
    archivo.columns = archivo.columns.str.strip()
    # Filtra solo los países seleccionados
    archivo_filtrado = archivo[archivo['Area'].isin(paises_a_analizar)]
    
    
    # Guarda el archivo filtrado en CSV
    archivo_filtrado.to_csv(nombre, index=False)
    print(f"Archivo guardado: {nombre}")

Archivo guardado: Pesticidas.csv
Archivo guardado: Lluvias.csv
Archivo guardado: Rendimiento.csv
Archivo guardado: Df_rendimiento.csv

In [57]:
archivo_temperatura.to_csv('Temperatura.csv')